$principle-blue: RGBA(0, 79, 157, 1);
$principle-red: RGBA(219, 50, 62, 1);
$supporting-blue: RGBA(0,168,220,1);
$supporting-red: RGBA(205,81,108,1);
$supporting-coral: RGBA(254,208,151,1);
$supporting-green: RGBA(0,145,100,1);
$supporting-orange: RGBA(239,131,73,1);
$supporting-grey: RGBA(135,138,143,1);
$supporting-lightgreen: RGBA(165,196,110,1);
$supporting-yellow: RGBA(255,206,52,1);
$supporting-purple: RGBA(90,55,116,1);

$light-grey: #f1efef;

//Spacing
$s-size: 12px;
$m-size: 16px;
$l-size: 32px;
$xl-size: 48px;
$desktop-breakpoint: 450px;

.burgerMenu {
    cursor: pointer;
}

.header {
    padding: 12px 20px 12px 20px;
    background-color: $principle-blue;
    width: 100%;
    position:fixed;
    height: 5rem;
    z-index: 9999; // Ensures header is on top of other items
}
.leftTitle {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.titleClient {
    margin: 0 0 0 4rem;
    padding: 0;
}

.navCont {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 5rem;
    top: 5rem;
    height: 100vh;
    z-index: 100;
    background-color: white;
    overflow: hidden;
    transition: width 500ms ease;
    box-shadow:4px 7px 10px rgba(0,0,0,.4);
    @media screen and (min-width: 600px) {
        width: 6rem;
    }
}

.expand {
    width: 25rem;
}

.nav {
    display: flex;
    flex-direction: column;
    h6 { // a Tag is here !!!!!!!!!
        font-size: 1.4rem;
        color: $supporting-grey;
        text-decoration: none;
        margin: 0;
        margin-left: 3rem;
        padding: 0;
    }
}

.navItems {
    display: flex;
    flex-direction: row;
    //margin-bottom: 3rem;
    padding: 2rem 0 2rem 2rem;
    cursor: pointer;
    transition: background .3s ease;
    transition: display 5s ease;
    &:hover {
        background-color: #E0E0E0;
    }
}

.iconDiv {
    width: 2rem
}

.icon {
    color: $supporting-grey;
    //width: 3rem;
}

hr{
    border: solid 1px darkgray;
    width: 100%;
}

.hidden {
    display: none;
}

.show {
    // transition-delay: 5s;
    // transition-property: display;
    display: flex;
}

.active {
    background-color: #E0E0E0;
}